body {
    font: 100% "Droid Sans", "Lucida Grande", Verdana, sans-serif;
}
header { 
    display:block;
}
fieldset p {
    float:left;
    margin-right: 1em;
}
form.inline{
    float:none;
    display:inline;
}
fieldset {
    clear: both;
}
ul {
    list-style:none;
    overflow:hidden;
}
.data_column{
    width:45%;
    padding:0.5em 2em 0.5em 0.5em;
}
.data_column:hover {
    cursor:pointer;
    background:#FAFAFA;
}
.column_form {
    float:right;
    clear:right;
}
.disabled {
    opacity:0.5;
    background: #EBEBEB;
}
.clear {
    display: block;
    clear: both;
}
.ui-selected{
    background: #FFFFEB;
}
