body {
    font: 100% "Droid Sans", "Lucida Grande", Verdana, sans-serif;
}
header { 
    display:block;
}
h1, h2, h3 {
    margin:0;
}
fieldset p {
    float:left;
    margin-right: 1em;
}
form.inline{
    float:none;
    display:inline;
}
fieldset {
    clear: both;
}
ul {
    list-style:none;
    overflow:hidden;
    padding:0;
}
.data_column{
    width:50%;
    padding:0.5em;
    border: 1px solid transparent;
    overflow: hidden;
}
.data_column:hover {
    cursor:pointer;
    background: #FFE;
}
.column_form  h3{
    float:left;
    clear:left;
    width: 58%;
}
.column_form p {
    float:right;
    clear:right;
    margin:0;

}

.add-form label {
    float:left;
    text-align:right;
    width: 8em;
    margin-right: 1em;
   
}
.disabled {
    opacity:0.5;
    background: #EBEBEB;
}
.clear {
    display: block;
    clear: both;
}
.ui-selected{
    background: #FFE;
    border: 1px solid #FE0;
    border-radius:0.2em;

    
}
