body {
    font: 100% monospace;
}
header { 
    display:block;
}
fieldset p {
    float:left;
    margin-right: 1em;
}
form.inline{
    float:none;
    display:inline;
}
fieldset {
    clear: both;
}
ul {
    list-style:none;
    overflow:hidden;
}
.data_column{
    float: left;
    width:40%;
    margin:0.5em 10% 0.5em 0;
}
.column_form {
    float:right;
    clear:right;
}
