django
simplejson
python-dateutil==1.5
celery
django-celery
django-tagging
django-debug-toolbar
django-pagination
ipdb
ipython
googlemaps
svn+http://django-mptt.googlecode.com/svn/trunk/#egg=mptt
git+git://github.com/etnalubma/python-osm.git#egg=osm
git+git://github.com/etnalubma/django-osm.git#egg=djangoosm
git+git://github.com/jdunck/python-unicodecsv.git#egg=unicodecsv
psycopg2
PIL
rpy2
python-gdal
