#map {
    width:1000px;
    height:800px;
    margin:50px;
    float:left;
    border: 1px solid;
}

#info {
    float:left;
    clear:right;
}

div.olControlMousePosition {

      font-family: Times;

      font-size: 0.75em;

      color: red;

      }



div.olControlScaleLine {

      font-family: Times;

      font-size: 0.75em;

      color: red;

      }

div.olControlLayerSwitcher {
    float:right;
}



