{% extends "index.html" %}
{% block title %}
    Cantidades por {{label}}
{% endblock %}
{% block js %}
    {% if column.has_geodata %}    
      <!-- Leaflet JavaScript -->
    
    <link rel="stylesheet" href="/static/dist/leaflet.css" type="text/css" />
    <script src="/static/dist/leaflet.js"></script>
    <script type="text/javascript" language="javascript">
    
    
    $(document).ready(function(){
        var map = new L.Map('chart');
        var cordoba = new L.LatLng(-31.416667,-64.183333);
        map.setView(cordoba, 13);
        
        var cloudmadeUrl = 'http://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
        cloudmadeAttrib = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib});
        
        map.addLayer(cloudmade);
        
        icono = L.Icon.extend({
            iconUrl: '/static/dist/images/marker.png',
            iconSize: new L.Point(38, 95),
            shadowSize: new L.Point(68, 95),
            iconAnchor: new L.Point(22, 94),
            popupAnchor: new L.Point(-3, -76)
        });
              
        {% for item in dataset %}
          {% if item.point %}
            latlng = new L.LatLng({{item.point.0|safe}}, {{item.point.1|safe}});
            marker = new L.Marker(latlng);
            map.addLayer(marker);
          {% endif %}
        {% endfor %}    
    })    
    </script>    
    
    {%else%}
        <script type="text/javascript" language="javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(draw_chart)
    function draw_chart(){
        var data = new google.visualization.DataTable();

        {% for label in labels %}
            data.addColumn('number', '{{label}}');
        {% endfor %}

        data.addRows({{dataset|length}});
        {% for data in scatterdata %}
            {% for label, item in data.iteritems %}              
                data.setValue({{forloop.counter0}},0,{{label}})
                data.setValue({{forloop.counter0}},1,{{item|floatformat}})

            {% endfor %}    
        {% endfor %}
        var chart = new google.visualization.ScatterChart(document.getElementById('chart'));
        chart.draw(data, {
                width: 1200, 
                height: 240, 
                xAxis: {
                    title: 'cantidad', 
                    minValue: 0,
                    maxValue: {{dataset|length}},
                },
                vAxis: {
                    title: '{{label}}', 
                    minValue: 0,
                    maxValue: 50,
                }
                
             });
    };
 
 
</script>
    
    {% endif %}
{% endblock %}        
{% block head %}
    <h1><a title="Index"href="/">Indice</a>/<a href="{% url detail column.datasource_id %}">{{column.datasource.name}}</a>/Cantidades por {{label}}</h1>
{% endblock %}  

{% block page %}
    <div id="chart" style="height:400px;"></div>
{% endblock %}


