{% extends "index.html" %}
{% block title %}
    Cantidades por {{label}}
{% endblock %}
{% block js %}
    {% if column.has_geodata %}    
      <!-- Leaflet JavaScript -->
    
    <link rel="stylesheet" href="/static/dist/leaflet.css" type="text/css" />
    <script src="/static/dist/leaflet.js"></script>
    <script type="text/javascript">
    
    
    $(document).ready(function(){
        var map = new L.Map('chart');
        var cordoba = new L.LatLng(-31.416667,-64.183333);
        map.setView(cordoba, 13);
        
        var cloudmadeUrl = 'http://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
        cloudmadeAttrib = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib});
        
        map.addLayer(cloudmade);
        
        icono = L.Icon.extend({
            iconUrl: '/static/dist/images/marker.png',
            iconSize: new L.Point(38, 95),
            shadowSize: new L.Point(68, 95),
            iconAnchor: new L.Point(22, 94),
            popupAnchor: new L.Point(-3, -76)
        });
              
        {% for item in dataset %}
            latlng = new L.LatLng({{item.direccion.point.0|safe}}, {{item.direccion.point.1|safe}});
            //var circleLocation = latlng,
            //circleOptions = {
            //    fillColor: '#f03', 
            //    fillOpacity: 0.2
            //};
    
            //var circle = new L.Circle(circleLocation, 500+{{item.count}}, circleOptions);
            
            
            
            var marker = new L.Marker(latlng);
            //var msg = "<p> {{ item.count }} {% for x in item.object_list %} <strong> {{ x}} </strong> <br />{%endfor%}</p> "
            marker.bindPopup('{{item.direccion.value}}');
            //circle.bindPopup(msg);
            map.addLayer(marker);
            //map.addLayer(circle);        

        {% endfor %}    
    })    
    </script>    
    
    {%else%}
        <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      
      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      {% for data in dataset %}
          data.addColumn('string','{{data.value}}');
          data.addColumn('number','{{ data.value }}' );
      {% endfor %}
      
      data.addRows({{dataset|length}});
      {% for data in dataset %}
            data.setValue({{forloop.counter0}},0,'{{data.value}}')
            data.setValue({{forloop.counter0}},1,{{data.count}})
      {% endfor %}

      // Set chart options
      var options = {'width':500,
                     'height':500};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart'));
      chart.draw(data, options);
    };
    </script>

    
    {% endif %}
{% endblock %}        
{% block head %}
    {% if not column.has_geodata %}        
    <h1><a title="Index"href="/">Indice</a>/<a href="{% url detail column.datasource_id %}">{{column.datasource.name}}</a>/Cantidades por {{column.name}}</h1>
    {% else%}
    <h1><a title="Index"href="/">Indice</a>/<a href="{% url detail column.datasource_id %}">{{column.datasource.name}}</a>/Mapa de {{column.name}}</h1>
    {% endif%}
{% endblock %}  

{% block page %}
    {% if column.has_geodata %}        
    <div id="chart" style="width:70%;height:600px;float:left;"></div>
    <div style="width:25%;float:left;"> Cantidad de Puntos Mostrados {{ dataset|length }}</div>
    <div style="clear:both" ></div>
    {% else%}
    <div id="chart" style="height:400px;"></div>
    {% endif%}
    
{% endblock %}


