{%spaceless%}
<li class="
    data_column
    {% if not column.instance.is_available %} disabled{% endif %}
    {% if column.errors %}error{%endif%}">
{%endspaceless%}
    <form action="/column/{{column.instance.pk}}" method="post" class="column_form">{% csrf_token %}
    <h3>
        <input type="checkbox" name="is_available"  {% if column.instance.is_available %}checked{% endif %}/>
        <a href="/column/{{column.instance.pk}}">{{column.instance.name}}</a>
        <a href="/stats/{{column.instance.pk}}"> estadisticas </p>
    </h3>
    <p>    
    <input type="hidden" name="object_id"  value="{{column.instance.pk}}"/>
    <input type="hidden" name="name"  value="{{column.instance.name}}"/>
    <input type="hidden" name="label"  value="{{column.instance.label}}"/>
    <input type="hidden" name="datasource"  value="{{column.instance.datasource.id}}"/>
    <input type="hidden" name="next" value="{{request.path}}"/>
    {{ column.data_type }}
            geografico<input type="checkbox" name="has_geodata" {% if column.instance.has_geodata %}checked{% endif %}/>
    {% if column.instance.has_geodata %}
    {{ column.geodata_type }}
    {% endif %}
    <p>
    {{form.errors}}
    </p>
    </form>
</li>
