<tr class="data_column {% if not column.instance.is_available %}disabled{% endif %}">
    <form action="/column/{{column.instance.pk}}" method="post" class="column_form">{% csrf_token %}
    <td> 
       {{column.is_available}}
    </td>
    <td>
        {{column.instance.name}}        
    </td>

    <td>
    {{ column.data_type }}
    </td>
    <td>
    {% if column.instance.has_geodata %}
         {{ column.geodata_type }}
    {% endif %}
    </td>
    <td>
    <input type="hidden" name="object_id"  value="{{column.instance.pk}}"/>
    </td>    

    <td>
    <input type="hidden" name="name"  value="{{column.instance.name}}"/>
    </td>    

    <td>
    <input type="hidden" name="label"  value="{{column.instance.label}}"/>
    </td>    

    <td>
    <input type="hidden" name="datasource"  value="{{column.instance.datasource.id}}"/>
    </td>    

    <td>
    <input type="hidden" name="next" value="{{request.path}}"/>
    </td>    
    </form>
</tr>
