<tr>
    <form action="." class="column_form" method="post">{% csrf_token %}    
    <td> 
        
           <input type="checkbox" checked="checked" name="is_available" value="{{column.instance.pk}}" />

    </td>
    <td>

            {{ column.instance.name }}        

    </td>
    <td>

            {{ column.data_type }}

    </td>
    <td>

            {% if column.instance.has_geodata %}
                 {{ column.geodata_type }}
            {% endif %}

    </td>
    <td>

            <input type="hidden" name="object_id"  value="{{column.instance.pk}}"/>

    </td>    
        </form> 
</tr>
