{% extends "index.html" %}
{% block title %}
    Cantidades por {{label}}
{% endblock %}
{% block js %}
<!--script type="text/javascript" language="javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(draw_chart)
    function draw_chart(){
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', '{{label}}');
        data.addRows({{dataset|length}});
        {% for item in dataset %}
        data.setValue({{forloop.counter0}},0,'{{item.value}}')
        data.setValue({{forloop.counter0}},1,{{item.count}})
        {% endfor %}
        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, {
                width: 1200, 
                height: 240, 
                hAxis: {
                    title: '{{label}}', 
                }
                
             });
    };
</script-->
{% endblock %}    
{% block head %}
<h1><a title="Index"href="/">Indice</a>/<a href="{% url detail column.datasource_id %}">{{column.datasource.name}}</a>/Cantidades por {{label}}</h1>
{% endblock %}  
{% block page %}
<pre>
{% for item in dataset %}
{{item.count}}{{item.value}}
{% endfor %}
</pre>
<div id="chart"></div>
{% endblock %}
