{% extends "index.html" %}
{% block page %}
    <h1>Documentos de {{datasource.name}}</h1> 
    {{datasource.created}} - {{datasource.author}}     
    | <a title="{{datasource.attach.name}}" 
       href="/datasource/{{datasource.id}}">Volver a Detalles</a>
    |
    </div>
    {% for document in data %}
    <div class="data_document">            
        <ul>
        {% for column in document %}

            <li>
                <b>{{column.label}}:</b> {{ column.value }}
            </li>
        {% endfor %}
        </ul>        
    </div>
    {% empty %}
            No hay datos importados aún.
            <a href="/datasource/{{datasource.id}}/import_data">Importar desde el archivo.</a>
    {% endfor %}

{% endblock %}
