{% extends "index.html" %}
{% load pagination_tags %}
{% block title %}
    Detalles de {{datasource.name}}
{% endblock %}
{% block js %}
    $('.accordion').click(function(event){
		var elem = $(this);
			event.preventDefault();
			$(elem.attr('href')).not(elem.attr('href')).slideDown();
			$(elem.attr('href')).slideToggle();
            return false;
		}
	);

{% endblock %}
{% block head %}

    <h1><a href="/">Indice</a>/<a href="{{datasource.dataset.workspace.get_absolute_url}}">{{datasource.dataset.workspace.name}}</a>/<a href="{{datasource.dataset.get_absolute_url}}">{{datasource.dataset.name}}</a>/{{datasource.name}}</h1>
    <p>
      {{datasource.created|date}} - {{datasource.author}}
    </p>

{% endblock %}
{% block page %}
    

    <menu>
    <a id="delete" href="/datasource/{{datasource.id}}/delete?next={{ datasource.get_absolute_url }}">Borrar</a>
    <a title="{{datasource.attach.name}}" 
         href="/datasource/{{datasource.id}}/download_attach">
         Descargar Fuente</a>
    <a href="#add-form" class="control">Nueva Columna</a>
    </menu>
    <form id="add-form" action="/column/" class="{{form.errors|yesno:'errors,valid'}}" method="post">{% csrf_token %}
        <legend>Nueva Columna</legend>
        {{column_form.as_p}}
        <a href="#add-form" class="control">cerrar</a>
        <input type="submit" value="Guardar" />
    </form>
    <h3><a href="#"> Informacion de Columnas </a></h3>
        <ul>
        {% for column in column_forms  %}
            {% include 'column_obj.html' %}
        {% endfor %}
        </ul>
        <form action="/datasource/{{datasource.id}}/import_data" id="import_form" method="post">{% csrf_token %}
        <p class="clear"><input type="submit" value="Importar columnas seleccionadas" /></p>
        </form>

{% endblock %}
