{% extends "datasource.html" %}
{% load pagination_tags %}
{% block title %}
    Datos en {{datasource.name}}
{% endblock %}
{% block head %}
<h1><a title="Index"href="/">Indice</a>/<a href="{% url detail datasource.id %}">{{datasource.name}}</a>/Explorar documentos</h1>
{% endblock %}  
{% block page %}
      <menu>
      {% if request.user.is_staff %}
      <a href="?sort_by=multiple" class="control">Ambiguos</a> |
      {% endif %}
      <a href="?sort_by=empty">
          Sin punto</a> |
      <a href="?sort_by=ok">
         Correctos</a>
    </menu>

    <ul id="list">
    {% for document in data %}
      <li >
          {% for column in document.columns %}
            <p>{{column.name}}:<strong>{{column.value}}</strong>
            {% if column.map_url %}
            <br /><img src="{{ column.map_url|default:'nomap.png' }}">
            {% endif %}
            </p>

          
          {% endfor %}
          


      </li>
    {% empty %}
            No hay datos importados aún.
            <a href="/datasource/{{datasource.id}}/import_data">Importar desde el archivo.</a>
    {% endfor %}
    </ul>
    {%paginate%}
{% endblock %}
