    {% extends "datasource.html" %}
{% load pagination_tags %}
{% block title %}
    Datos en {{datasource.name}}
{% endblock %}
{% block head %}
<h1><a title="Index"href="/">Indice</a>/<a href="{% url detail datasource.id %}">{{datasource.name}}</a>/Explorar documentos</h1>
{% endblock %}  
{% block page %}
      <menu>
      {% if request.user.is_staff %}
      <a href="?sort_by=multiple" class="control">Ambiguos</a> |
      {% endif %}
      <a href="?sort_by=empty">
          Sin punto</a> |
      <a href="?sort_by=ok">
         Correctos</a>
    </menu>

    <table id="list">
    
    <tr>
    {% for value in rows[0].value_set.all %}
        <th> {{ value.column.name }} </th>        
    {% endfor %}
    </tr>

    {% for value in row.value_set.all %}
        
    {% empty %}
            No hay datos importados aún.
            <a href="/datasource/{{datasource.id}}/import_data">Importar desde el archivo.</a>
    {% endfor %}

    {% for row in rows %}
        <tr>
        {% for field in row.value_set.all.reverse %}
            <td>
            {{ field.value }}            
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    
    </table>
    
{% endblock %}

