      <form id="add-form" method="post" action="." 
            class="{{form.errors|yesno:'errors,valid'}}" enctype="multipart/form-data">{% csrf_token %}
          <input type="hidden" name="author" value="{{user.id}}"/>
          <legend>Nueva Fuente de Datos</legend>
          {% for error in form.errors %}
            <p class="error">{{error}}</p>
          {% endfor %}
          <p class="{{form.attach.errors|yesno:'errors,valid'}}">
              {{form.attach.errors}}
              <label for="id_{{form.attach.name}}">Archivo</label>
              {{form.attach}}
          </p>
          {{ column_form.management_form }}
          <p class="{{form.name.errors|yesno:'errors,valid'}}">
              {{form.name.errors}}
              <label for="id_name">Nombre</label>
              {{form.name}}
          </p>

          <a href="#add-form" class="control">cerrar</a>   
          <input type="submit" name="Guardar" value="Submit"/>
      </form>
      {% endif %}    
        {% autopaginate datasource_list 10 %}
        <ul>
        {% for datasource in datasource_list %}
            <li>
                <h1><a href="/datasource/{{datasource.id}}">{{datasource.name}}</a></h1> 
                {{datasource.created}} - {{datasource.author}} ({{datasource.column_set.count }} columnas)
                <a title="{{datasource.attach.name}}" 
                   href="/datasource/{{datasource.id}}/download_attach">
                    Descargar Fuente
                </a> &nbsp;{% if not datasource.column_set.all %}{% endif%}
                <a id="delete" href="/datasource/{{datasource.id}}/delete">borrar</a>
            </li>
        {% empty %}
            <li>No hay registros</li>
        {% endfor %}        
        </ul>
        {% paginate %}

