{% extends "index.html" %}
{% block page %}
    <h1>{{datasource.name}}</h1> 
    <p>
        <a title="Index"
           href="/">
            Volver</a> | 
        {{datasource.created}} - {{datasource.author}} |

        <a title="{{datasource.attach.name}}" 
           href="/datasource/{{datasource.id}}/download_attach">
            Descargar Fuente</a> |
        <a title="Ver Datos" 
           href="/datasource/{{datasource.id}}/data">
            Ver algunos datos importados</a> |
        <a 
           tile="Se va a usar la primera fila"
           href="/datasource/{{datasource.id}}/import_data">Generar columnas</a> |


    </p>

        <form class="add-form" action="/column/" method="post">{% csrf_token %}
            <legend>Nueva Columna</legend>
            {{column_form.as_p}}
            <p><input type="submit" value="Guardar" /></p>
        </form>
    <ul>

    {% for column in columns %}
        {% include "column_obj.html" %}
    {% empty %}
        <li>
            <a href="/datasource/{{datasource.id}}/autogenerate_columns">Generar columnas.</a>
        </li>
    {% endfor %}        
    

    </ul>    
    
    <form action="/datasource/{{datasource.id}}/import_data" id="import_form" method="post">{% csrf_token %}
    {% for column in columns  %}
        {% if column.is_available %}
        <input type="hidden" name="object_id" value="{{column.pk}}"/>
        {% endif %}
    {% endfor %}

        <p class="clear"><input type="submit" value="Importar columnas seleccionadas" /></p>
    </form>
{% endblock %}
