{% extends "index.html" %}
{% block page %}
    <h1>{{datasource.name}}</h1> 
    <p>{{datasource.created}} - {{datasource.author}} |
        <a title="{{datasource.attach.name}}" 
           href="/datasource/{{datasource.id}}/download_attach">
            Descargar Fuente</a> |
        <a title="Ver Datos" 
           href="/datasource/{{datasource.id}}/document">
            Ver algunos datos importados</a> |
        <a title="Index"
           href="/">
            Volver</a>
    </p>
    <details>
        <summary>Nueva Columna</summary>
        <form action="/column/" method="post">{% csrf_token %}
            {{column_form.as_p}}
            <p><input type="submit" value="Guardar" /></p>
        </form>
    </details>
    <ul>
    {% for column in columns %}
        <li class="data_column">
            {{column.pk}}. <a href="/column/{{column.pk}}">{{column.name}}</a>
            <form action="/column/{{column.pk}}" method="post" class="column_form">
            {% csrf_token %}
            <input type="hidden" name="object_id" value="{{column.pk}}"/>
            <input type="hidden" name="next" value="{{request.path}}"/>
            <select name="data_type">
                <option value="{{ column.data_type }}" selected>{{ column.data_type }}</option>
            </select>
            <label for="id_has_geodata">mapa</label><input type="checkbox" id="id_has_geodata" name="has_geodata" {% if column.has_geodata %}checked{% endif %}/>
            <label for="id_is_available">disponible</label><input type="checkbox" id="is_available" name="is_available"  {% if column.is_available %}checked{% endif %}/>
            </form>
        </li>
    {% empty %}
        <li>
            <a href="/datasource/{{datasource.id}}/autogenerate_columns">Autogenerar usando primera fila.</a>
        </li>
    {% endfor %}
    </ul>    
{% endblock %}
