{% extends "index.html" %}
{% block page %} 
    <h1>Documentos de {{datasource.name}}</h1> 
    {{datasource.created}} - {{datasource.author}}     
    | <a title="{{datasource.attach.name}}" 
       href="/datasource/{{datasource.id}}">Volver a Detalles</a>
    |
    </div>
    {% for document in data %}
        {% for column in document %}
        <ul>            
            <li>
                <b>{{column.label}}:</b> {{ column.value }}
            </li>
        </ul>
        {% endfor %}
    {% empty %}
            No hay datos importados ahun.
            <a href="/datasource/{{datasource.id}}/import_data">Autogenerar usando primera fila.</a>            
    {% endfor %}
{% endblock %}
