<!DOCTYPE html>
{% load pagination_tags %}
<html lang='es'>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Bienvenido{% endblock %} sitseg</title>
        <meta name="description" content="Sistema Tecnológico de Seguridad" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ui.js"></script>
        <!--script type="text/javascript" src="https://www.google.com/jsapi"></script-->
        <script type="text/javascript" language="javascript" src="/static/js/scripts.js"/></script>
        <!--[if IE]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
          </script>
        <![endif]-->
        {% block js %}{% endblock %}
        </script>
    </head>
    <body>
    <header>

      <menu>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <a href="/admin">Administración </a>
          {% endif %}
          <strong>{{user}} </strong><a href="/logout?next={{request.path}}">(salir)</a>
        {%else%}
            <a href="/login?next={{request.path}}">Iniciar sesión</a>
        {% endif %}
      </menu>
    {% block head %}
      <h1>Indice/</h1>
    {% endblock %}
    </header>
    <section>
    {% block page %}
      {% if user.is_staff %}
      <menu>
        <a href="#add-form" class="control">Agregar fuente</a>
      </menu>
      <form id="add-form" method="post" action="." 
            class="{{form.errors|yesno:'errors,valid'}}" enctype="multipart/form-data">{% csrf_token %}
          <input type="hidden" name="author" value="{{user.id}}"/>
          <legend>Nueva Fuente de Datos</legend>
          {% for error in form.errors %}
            <p class="error">{{error}}</p>
          {% endfor %}
          <p class="{{form.attach.errors|yesno:'errors,valid'}}">
              {{form.attach.errors}}
              <label for="id_{{form.attach.name}}">Archivo</label>
              {{form.attach}}
          </p>
          {{ column_form.management_form }}
          <p class="{{form.name.errors|yesno:'errors,valid'}}">
              {{form.name.errors}}
              <label for="id_name">Nombre</label>
              {{form.name}}
          </p>

          <a href="#add-form" class="control">cerrar</a>   
          <input type="submit" name="Guardar" value="Submit"/>
      </form>
      {% endif %}    
        {% autopaginate datasource_list 10 %}
        <ul>
        {% for datasource in datasource_list %}
            <li>
                <h1><a href="/datasource/{{datasource.id}}">{{datasource.name}}</a></h1> 
                {{datasource.created}} - {{datasource.author}} ({{datasource.column_set.count }} columnas)
                <a title="{{datasource.attach.name}}" 
                   href="/datasource/{{datasource.id}}/download_attach">
                    Descargar Fuente
                </a> &nbsp;{% if not datasource.column_set.all %}
                {% endif%}
            </li>
        {% empty %}
            <li>No hay registros</li>
        {% endfor %}        
        </ul>
        {% paginate %}
    {% endblock %}
    </section>
    <footer>
    {% if messages %}
    <ul id="messages">
      {% for message in messages %}
      <li class="{{message.tags}}">
        <a href="#message-{{forloop.counter}}" class="control">!</a><strong id="message-{{forloop.counter}}">{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}      
    </footer>
    </body>
</html>

