<!DOCTYPE html>
{% load pagination_tags markup %}
<html lang='es'>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Bienvenido{% endblock %} sitseg</title>
        <meta name="description" content="Sistema Tecnológico de Seguridad" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/ajax.js"></script>
        <script src="/static/js/jquery.ui.js"></script>
        <script src="/static/js/scripts.js"></script>
        {% block linkjs %}
        
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="wrapper">
        <menu id="session">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <a href="/admin">Administración </a>
          {% endif %}
          <strong>{{user}} </strong><a href="/logout?next={{request.path}}">(salir)</a>
        {%else%}
            <a href="/login?next={{request.path}}">Iniciar sesión</a>
        {% endif %}
        </menu>
        {% block head %}
          <h1><a href="/">Indice</a>/</h1>
        {% endblock %}
        {% if user.is_staff %}

            <menu id="controls">
            <a href="#export" class="control">Exportar</a>
            <a href="#graficar" class="control">Graficar</a>

                {% block controls %}
                    <a href="#add-form" class="control">Nuevo conjunto de datos</a>
                {% endblock %}
            </menu>
        {%endif%}

        </div>
    </header>
    <div id="wrapper">
        <section>
          {% if user.is_staff %}        
            <form id="export" method="POST" action="." class="{{form.errors|yesno:'errors,valid'}}" enctype="multipart/form-data">{% csrf_token %}
                <legend> Exportar </legend>
                <p>Elija una variable para graficar </p>
                {{ form_export.as_p }}
                <a href="#export" class="control">cerrar</a>   
                <input type="submit" name="export" value="Exportar"/>
            </form>
          {% endif %}        
          {% if user.is_staff %}
          <form id="graficar" method="post" action="." class="{{form.errors|yesno:'errors,valid'}}" enctype="multipart/form-data">{% csrf_token %}
              <input type="hidden" name="author" value="{{user.id}}"/>
              <legend>Graficar</legend>
              <p>Elija una o más variables para graficar </p>
                {{ form.as_p }}
              <a href="#graficar" class="control">cerrar</a>   
              <input type="submit" name="Graficar" value="Graficar"/>
          </form>
            
          {% endif %}

        {% block page %}
          {% if user.is_staff %}
          <form id="add-form" method="post" action="." 
                class="{{form.errors|yesno:'errors,valid'}}" enctype="multipart/form-data">{% csrf_token %}
              <input type="hidden" name="author" value="{{user.id}}"/>
              <legend>Nuevo Conjunto de Datos</legend>
                {{ form.as_p }}
              <a href="#add-form" class="control">cerrar</a>   
              <input type="submit" name="Guardar" value="Crear"/>
          </form>
          {% endif %}   
            {% autoescape off %}{{ comments }}{% endautoescape %} 

            {% autopaginate dataset_list 10 %}
            <ul>
            {% for dataset in dataset_list %}
                <li>
                    <h2><a href="{{dataset.get_absolute_url}}">#{{dataset.pk}}-{{dataset.name}}</a></h2> 
                </li>
            {% empty %}
                <li>No hay registros</li>
            {% endfor %}        
            </ul>
            {% paginate %}
            
        {% endblock %}
        </section>
    </div>
    <footer>
    <div class="wrapper">
    <ul id="messages">
    {% for message in messages %}
        <li class="{{message.tags}}">
          <a href="#message-{{forloop.counter}}" class="control">!</a>
          <strong id="message-{{forloop.counter}}">{{message}}</strong>
        </li>
    {% endfor %}
    </ul>
    {% block footer %}
        
    {% endblock %}
    </div>
    </footer>
    </body>
</html>

