<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Bienvenido{% endblock %} sitseg</title>
        <meta name="description" content="Sistema Tecnológico de Seguridad" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <!--[if IE]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
          </script>
        <![endif]-->
       <script type="text/javascript" language="javascript">
            $(document).ready(function(){
                $('#add-column').click(function(){
                    fieldset = $('form fieldset').last()[0];
                    new_fieldset = $(fieldset).clone();
                    $(new_fieldset).insertAfter(fieldset);
                    return false;
                })
            });
        </script>
    </head>
    <body>
    <header>
    <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        {{ column_form.management_form }}
        <p class="{{form.name.errors|yesno:'errors,valid'}}">
            {{form.name.errors}}
            <label for="id_name">Nombre</label>
            {{form.name}}
        </p>
        <p class="{{form.attach.errors|yesno:'errors,valid'}}">
            {{form.attach.errors}}
            <label for="id_{{form.attach.name}}">Archivo</label>
            {{form.attach}}
        </p>   
        <p class="{{form.author.errors|yesno:'errors,valid'}}">
            <label for="id_{{form.author.name}}">Autor</label>
            {{form.author}}
        </p>
       

        <input type="submit" name="Guardar" value="Submit"/>
    </form>
    </header>
    {% block page %} 
        <ul>
        {% for datasource in datasource_list %}
            <li>
                <h1><a href="/datasource/{{datasource.id}}">{{datasource.name}}</a></h1> 
                {{datasource.created}} - {{datasource.author}} ({{datasource.columns.count }} columnas)
                <a title="{{datasource.attach.name}}" 
                   href="/datasource/{{datasource.id}}/download_attach">
                    Descargar Fuente
                </a> &nbsp;{% if not datasource.column_set.all %}
                <a href="/datasource/{{datasource.id}}/autogenerate_columns">Autogenerar usando primera fila.</a>
                {% endif%}
            </li>
        {% empty %}
            <li>No hay registros</li>
        {% endfor %}        
        </ul>
    {% endblock %}
    </body>
</html>

