{% extends 'maps.html' %}
{% block javascript %}
        $(window).load(function initialize() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map_canvas"));        
                map.setCenter(new GLatLng(-31.400,-64.183), 13);                         
                {% for x in objects %}
                    var point = new GLatLng(new Number({{x.1}}),new Number({{x.0}}));
                    map.addOverlay(new GMarker(point));        
                {% endfor %}      
                }    
            }    
        );
        
{% endblock %}
{% block content %}
  <div id="map_canvas" style="height: 650px"></div>
  

{% endblock %}

