{% extends 'maps.html' %}
{% block javascript %}
        $(window).load(function(){     
        var map, layer;
        function init(){
            state = new Maap.State();
            state.init();   
            json_layer = {{ json_layer|safe }};
            state.setLayer(json_layer).show(); 
        };
        init();
        }
        );
        
{% endblock %}
{% block content %}
  <div id="map" ></div>
  <div id="info">
    <h2> Mapa </h2>
  
    <h3> Variable Observada </h3>
    {% if column_value %}    
        <p>  {{column_value|lower}}    </p>       
    {% else %}
        <p>  {{column_geo|lower}}    </p>       
    {% endif %}
  </div>

{% endblock %}

