{% load pagination_tags %}
<p id="sort_by">Filtrar: 
    <a class="pjax" rel="#{{datasource}}-data" href="{{request.path}}?sort_by=empty">Vacíos</a>
    <a class="pjax" rel="#{{datasource}}-data" href="/datasource/{{datasource.id}}/show_data?sort_by=multiple">Ambiguos</a>
    <a class="pjax" rel="#{{datasource}}-data" href="/datasource/{{datasource.id}}/show_data?sort_by=right">Correctos</a>
    <a class="pjax" rel="#{{datasource}}-data" href="/datasource/{{datasource.id}}/show_data?sort_by=all">Todos</a>
</p>

<table>
    <tr>{% for value in rows.0.value_set.all %}<th>{{value.column}}</th>{% endfor %}</tr>
    {% autopaginate rows 20 %}
    {% for row in rows %}
    <tr>
        {% for value in row.value_set.all %}
        <td class="{{value.data_type}}">
        {% if value.data_type == "point" %}
            <a href="/admin/maap/maappoint/{{value.point.id}}" rel="#edit-value" >{{value}} ({{value.points}})</a>
        {% else %}
            {% if value.data_type == "area" %}
                <a href="/admin/maap/maaparea/{{value.area.id}}" rel="#edit-value" >{{value}}</a>
            {% else %}
                {{value}}
            {% endif %}
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}     
</table>
<div id="edit-value"></div>
<p class="pagination">
    {% if page_obj.has_previous %}
        <a class="prev pjax" rel="rel="#{{datasource}}-data"" href="/datasource/{{datasource.id}}/show_data?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">Prev</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a class="next pjax" rel="#{{datasource}}-data" href="/datasource/{{datasource.id}}/show_data?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">Next</a>
    {% endif %}
</p>
