{% load pagination_tags %}
<p id="sort_by">Ver Datos: 
    <a class="pjax" rel="#{{datasource}}-data" href="{{request.path}}?sort_by=origin">Originales</a>
    <a class="pjax" rel="#{{datasource}}-data" href="{{request.path}}?sort_by=imported">Importados</a>
</p>

<table>
    <tr><th> Fila </th> {% for col in datasource.get_column_names %}<th>{{col.name}}</th>{% endfor %}</tr>

    {% for row in data %}
    <tr>
        <td>
            {{forloop.counter}}
        </td>
        {% for value in row %}
        <td class="{{value.data_type}}">
            {{value}}
        </td>
        {% endfor %}

    </tr>
    {% endfor %}     
</table>
<div id="edit-value"></div>
