{% extends "index.html" %}
{% block title %}
    Estadisticas de {{datasource.name}}
{% endblock %}
{% block head %}
<h1><a href="/">Indice</a>/{{datasource.name}}</h1>
    <p>
      {{datasource.created|date}} - {{datasource.author}} - {{datasource.find.count}} registros
    </p>
{% endblock %}
{% block page %}
    <h4> Elija uno o mas campos para graficar </h4>
    <form action="/plots/{{datasource.id}}/graph" method="post">
    <input type="hidden" name="datasource" value="{{datasource.id}}"> 
    {% csrf_token %}
    {% for k in datasource.column_set.all %}
    <input type="checkbox" name="campo" value="{{k.id}}"> {{ k.name }} 
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>    
{% endblock %}
